src/main/resources/META-INF/nhrpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://org.jsets.io/schema/nhrpc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://org.jsets.io/schema/nhrpc" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the nhrpc . ]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="controler">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="required" />
			<xsd:attribute name="address" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="property">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="value" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="provider">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="property" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="ref" type="xsd:string" use="required"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="providersType">
		<xsd:sequence>
			<xsd:element ref="provider" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
		<xsd:attribute name="host" type="xsd:string" use="optional" />
		<xsd:attribute name="port" type="xsd:int" use="required" />
		<xsd:attribute name="contextRoot" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interface" type="xsd:string"
						use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="referencesType">
		<xsd:sequence>
			<xsd:element ref="reference" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="url" type="xsd:string" use="required"></xsd:attribute>
		<xsd:attribute name="user" type="xsd:string" use="optional"></xsd:attribute>
		<xsd:attribute name="password" type="xsd:string" use="optional"></xsd:attribute>
	</xsd:complexType>

	<xsd:element name="providers" type="providersType"></xsd:element>
	<xsd:element name="references" type="referencesType"></xsd:element>

</xsd:schema>